html {
  font-size: 30px;
  background-color: rgba(233, 238, 224, 0.5);
  overflow-y: scroll;
  width: 100vw;
}

.form-container {
  text-align: center;
}

input {
  font-size: 1rem;

}

h1 {
  text-align: center;
  font-family: 'Monoton', cursive;
  font-weight: normal;
  color: darkred;
}

.eng-title {
  font-family: 'Special Elite', cursive;
}
.orig-title {
  font-family: 'Lobster Two', cursive;
}
.year {
  font-family: 'Lobster Two', cursive;
}

.card {
  display: flex;
  border: 1px solid gray;
  margin: 25px;
  box-shadow: 0 5px 5px 2px gray;
  background-color: rgb(241, 241, 241);
}



.card:hover {
  cursor: pointer;
  box-shadow: 0 3px 3px 1px gray;
  background-color: rgb(235, 235, 235);
}

.movie-info {
  width: 60%;
  padding: 5% 5%;
}

img {
  margin: 10px 30px;
  object-fit: contain;
  display: block;
  box-shadow: 0 5px 5px 2px gray;
}

.movies-list {
  padding: 2% 10% 10% 7%;
}

.eng-title {
  font-weight: bold;
}

@media (max-width: 500px) {
  .movie-info {
    width: 90%;
    padding-bottom: 0;
  }
  .card {
    flex-direction: column;
    align-items: center;
    margin: 15px 5px;;
  }
  .movies-list {
    padding: 2%;
  }
  h2, p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
  }
}